div[data-role="footer"] > p,
.center 
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div[data-role="footer"] > p > a {
  color: #ffffff !important;
}

/* THEME G -- A Custom Theme
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-g {
  border: 1px solid     #2A2A2A /*{a-bar-border}*/;
  background:       #111111 /*{a-bar-background-color}*/;
  color:          #ffffff /*{a-bar-color}*/;
  font-weight: bold;
  text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c /*{a-bar-background-start}*/), to(#111 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient(top, #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/);
}
.ui-bar-g, 
.ui-bar-g input, 
.ui-bar-g select, 
.ui-bar-g textarea, 
.ui-bar-g button {
  font-family: Helvetica, Arial, sans-serif /*{a-bar-font}*/;
}
.ui-bar-g .ui-link-inherit {
  color: #fff /*{a-bar-color}*/;
}

.ui-bar-g .ui-link {
  color: #7cc4e7 /*{a-bar-link-color}*/;
  font-weight: bold;
}

.ui-bar-g .ui-link:hover {
  color: #2489CE /*{a-bar-link-hover}*/;
}

.ui-bar-g .ui-link:active {
  color: #2489CE /*{a-bar-link-gctive}*/;
}

.ui-bar-g .ui-link:visited {
    color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-body-g {
  border: 1px solid     #2A2A2A /*{a-body-border}*/;
  background:       #222222 /*{a-body-background-color}*/;
  color:          #fff /*{a-body-color}*/;
   text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #000 /*{a-body-shadow-color}*/;
  font-weight: normal;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666 /*{a-body-background-start}*/), to(#222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #000 /*{a-body-background-start}*/, #fff /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient(top, #666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #666 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); 
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
  font-family: Helvetica, Arial, sans-serif /*{a-body-font}*/;
}
.ui-body-g .ui-link-inherit {
  color:  #fff /*{a-body-color}*/;
}

.ui-body-g .ui-link {
  color: #2489CE /*{a-body-link-color}*/;
  font-weight: bold;
}

.ui-body-g .ui-link:hover {
  color: #2489CE /*{a-body-link-hover}*/;
}

.ui-body-g .ui-link:active {
  color: #2489CE /*{a-body-link-gctive}*/;
}

.ui-body-g .ui-link:visited {
    color: #2489CE /*{a-body-link-visited}*/;
}

.ui-br {
  border-bottom: rgb(130,130,130);
  border-bottom: rgba(130,130,130,.3);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.ui-btn-up-g {
  border: 1px solid     #222 /*{a-bup-border}*/;
  background:       #333333 /*{a-bup-background-color}*/;
  font-weight: bold;
  color:          #fff /*{a-bup-color}*/;
  text-shadow: 0 /*{a-bup-shadow-x}*/ -1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000 /*{a-bup-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555 /*{a-bup-background-start}*/), to(#333 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient(top, #555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #555 /*{a-bup-background-start}*/, #333 /*{a-bup-background-end}*/);
}
.ui-btn-up-g a.ui-link-inherit {
  color:          #fff /*{a-bup-color}*/;
}
.ui-btn-hover-g {
  border: 1px solid     #000 /*{a-bhover-border}*/;
  background:       #444444 /*{a-bhover-background-color}*/;
  font-weight: bold;
  color:          #fff /*{a-bhover-color}*/;
  text-shadow: 0 /*{a-bhover-shadow-x}*/ -1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #000 /*{a-bhover-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666 /*{a-bhover-background-start}*/), to(#444 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient(top, #666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #666 /*{a-bhover-background-start}*/, #444 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-g a.ui-link-inherit {
  color:          #fff /*{a-bhover-color}*/;
}
.ui-btn-down-g {
  border: 1px solid     #000 /*{a-bdown-border}*/;
  background:       #3d3d3d /*{a-bdown-background-color}*/;
  font-weight: bold;
  color:          #fff /*{a-bdown-color}*/;
  text-shadow: 0 /*{a-bdown-shadow-x}*/ -1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #000 /*{a-bdown-shadow-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333 /*{a-bdown-background-start}*/), to(#5a5a5a /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient(top, #333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #333 /*{a-bdown-background-start}*/, #5a5a5a /*{a-bdown-background-end}*/);
}
.ui-btn-down-g a.ui-link-inherit {
  color:          #fff /*{a-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
  font-family: Helvetica, Arial, sans-serif /*{a-button-font}*/;
  text-decoration: none;
}
